.cabecalho {
    background-color: #DBF4A7;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    div {
        font-weight: 600;
        flex-grow: 1;
        text-align: center;
    }

    div:nth-child(2) {
        text-align: left;
        width: 60vw;
    }
    
}